@font-face {
    font-family: 'LilitaOne';
    /* Choose a name for your font family */
    src: local('LilitaOne'),
        /* Optional: Check for local installation first */
        url('../fonts/Lilita_One/LilitaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Define the font weight */
    font-style: normal;
    /* Define the font style */
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "LilitaOne", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FDF5DE;

}

section {
    padding: 4rem 0;
}



.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fdf5dee0;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out;
}


.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

/* Hover effect for Start Reading button */
button.btn-light:hover {
    color: #ffffff !important;
    background-color: #1f2155 !important;
}

.auth {
    background-image: url('../images/Background/Paper\ texture\ 5.svg');
    background-size: cover;
    background-position: center;
}

.auth-image {
    filter: drop-shadow(2px 4px 6px black);
}

.login-logo {
    position: absolute;
    width: 80px;
    transform: rotate(45deg);
    top: 1%;
    right: 2%;

}

.hero {
    background-image: url('../images/digital-library-filter.png');
    background-size: cover;
    background-position: center;
    margin-top: 5rem;
    text-shadow: 5px 5px 10px #020236;
}

.hero-image {
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: brightness(0.7);
}

.hero-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
}



.hero h1,
.hero h2,
.hero p {
    color: #ffffff !important;
}

.about-image {
    background-image: url('../images/priscilla-du.jpg');
}


.library-image {
    background-image: url('../images/tanaphong-toochinda.jpg');
}

@media (max-width: 768px) {
    .login-image {
        width: 60%;
    }

    .about-content {
        top: 10%;
        padding: 0 1rem;
    }

}

@media (min-width: 768px) {


    .hero {
        height: 165vh;
    }

}

#faq .accordion-button,
#faq .accordion-item {
    background-color: transparent;
    color: black !important;
    border-left: none;
    border-right: none;
}

#faq .accordion-button:after {
    content: "\2795";
    color: black;
    background-image: none;

}


/* Logo styling */
.footer-logo {
    width: 250px;
    height: auto;
    object-fit: contain;
}

/* Remove underline and style links */
.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 6px;
}

/* Social icons styling */
.social-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    filter: brightness(1) saturate(4);
}

/* Adjust gap between social icons */
.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}